section {
  height: 100vh;
  background-color: gray;
  /* overflow: hidden; */
}

.main_image_container {
  height: 500px; /* Set the desired height */
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.main_image {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto; /* Maintain the image's aspect ratio */
  display: block;
  position: absolute;
  bottom: 0; /* Align the bottom of the image with the bottom of the container */
  transform: translateY(55%);
}
