nav {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  background: linear-gradient(to bottom, black, transparent);
  align-items: center;
  width: 100%;
  color: white;
  min-height: 60px;
  position: sticky;
  top: 0;
}

.logo {
  color: white;
  /* background-color: aqua; */
  position: absolute;
  top: 20px;
  left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

li {
  list-style: none;
}

nav ul {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 60px auto 10px;
  /* background-color: aqua; */
}
nav ul.open {
  display: flex;
}

/* nav ul li {
  display: flex;
} */

nav ul li a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;

  text-decoration: none;
}

nav ul li {
  padding: 0 10px 0 10px;
}
nav ul li a:hover {
  background-color: yellow;
  width: 90vw;
}

.burger {
  position: absolute;
  top: 10px;
  right: 20px;

  /* padding-right: 20px; */
  cursor: pointer;
}
.x {
  font-size: xx-large;
  cursor: pointer;
  width: 20px;
}

@media screen and (min-width: 370px) {
}
@media screen and (min-width: 750px) {
  nav {
    flex-direction: row;
    /* align-items: flex-start; */
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0;
    /* gap: 20px; */
    font-size: medium;
    align-items: right;
  }
  nav ul li a:hover {
    background-color: yellow;
    width: auto;
    height: 4px;
  }

  nav ul li {
    display: flex;
  }
  .burger {
    display: none;
  }
}
